.details{
    margin-top: 5rem;

    &__row{
        max-width: 105rem;
    }

    &__text{
        font-size: 1.5rem;
        color: #757777;

        @include respond(tab-port){
            text-align: center;
            font-size: 1.2rem;
        }
    }

    &__bold{
        font-weight: 700;
        color: $color-dark-blue;
    }
}