$color-dark-blue: #0e2851;

input {
  position: relative;
  margin: 1rem 2.5rem;
  border-radius: 4px;
  padding: 1.5rem;
  border: 0px solid #ccc;
  display: block;
  left: 1rem;
  font-size: 1rem;
}

.header {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 105%
    ),
    url("../img/background.jpg");
  background-size: cover;
  padding-bottom: 5rem;

  
  &__right {
    overflow: hidden;
    &-promotion {
      position: absolute;
      bottom: 6rem;
      right: 11%;
      z-index: 10;
    }
  }

  &__form-box {
    padding: 1rem 0rem;
    position: relative;
    margin-top: 5rem;
    left: 25%;
    width: 60%;
    background-color: $color-dark-blue;
    text-align: center;
    border-radius: 20px;

    &-title {
      position: relative;
      margin: 0 2.5rem;
      padding-top: 2rem;
      color: #ccc;
      font-size: 1.6rem;
      font-weight: 100;
    }
  }

  &__form {
    &-input {
      width: 80%;
    }

    &-checkbox {
      border-radius: 50%;
    }

    &-disclaimer {
      color: #ccc;
      text-align: left;
      margin: 0rem 3.5rem;
      font-size: 0.8rem;
    }

    &-submit {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 80%;
      padding: 1.2rem;
      border: 0;
      border-radius: 4px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      background-color: #a40cb2;
      cursor: pointer;
    }
  }
}

.heading {
  
  &__left{
    position: relative;
    left: 25%;
    top: 2rem;
  }
}

.heading__right {
  position: relative;
  margin-top: 4rem;
  left: 39%;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.big {
  color: #a40cb2;
  font-size: 5rem;
  position: relative;
  top: 1rem;
}
